.dark body {
  background-color: #1f2937;
  color: #fff;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #fff;
}

.dark a {
  color: #fff;
}

.dark a:hover {
  color: #d1d5db;
}

/* .dark .bg-white {
  background-color: #191e24;
} */

.dark .text-gray-900 {
  color: rgba(249, 252, 255, 1);
}

.dark .ring-gray-300 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(22, 108, 194, 0.812);
}

.dark .bg-black {
  background-color: #d1d5db;
}

.dark .bg-gray-50 {
  background-color: #1f252d;
}

.dark .text-white {
  color: #191e24;
}

.dark .text-black {
  color: #fff;
}

.dark .text-gray-300 {
  color: rgba(215, 222, 230, 0.812);
}

.dark .text-gray-700 {
  color: rgba(255, 255, 255, 0.85);
}

.dark .text-gray-50 {
  color: rgba(255, 255, 255, 1);
}

.dark .bg-blue-500 {
  background: #2a2d33;
}

.dark .bg-blue-500 {
  background: #2a2d33;
}

.dark .border-blue-500 {
  border-color: #2a2d33;
}

.dark .bg-white {
  background: #191e24;
}

.dark .bg-gray-100 {
  background: #21272e;
}

.dark .bg-gray-200 {
  background: #2a2d33;
}

.dark .ring-gray-300 {
  --tw-ring-color: rgba(51, 54, 60, 0.65);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.focus\:ring-blue-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
}

.dark .text-gray-500 {
  color: rgb(219, 212, 219);
}

.dark .text-gray-600 {
  color: rgb(238, 229, 238);
}

.dark .text-blue-600 {
  color: rgb(7, 123, 240);
}

.dark .hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
