@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 400;
  color: #525afa;
  text-decoration: inherit;
}
a:hover {
  color: #000cf7;
}

:root {
  background-color: #e8e8ef;
}
